button{
    width: 110px;
    height: 70px;
    font-size: 26px;
    user-select: none;
    /* border: 1.5px solid black; */

}
.zero{
    width: 224.5px;
    height: 70px;
}
.mediumBTN{
    width: 167.25px;
    height: 70px;
}

.btmMargin{
    margin-bottom:8px;
}